<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Seguro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulario_reporte.css' %}">
</head>

<div id="contenido">

    {% include 'app/messages.html' %}
    {% block contenido %}
    {% endblock %}

</div>

<script src="{% static 'app/js/scripts.js' %}"></script>
</html>