{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CampusSeguro - Registro de Usuario</title>

  <link rel="stylesheet" href="{% static 'app/style.css' %}">

</head>

<body>
  <form id="formUsuario" class="form" method="post" novalidate>
    <h2>Registro de Usuario</h2>

    <input type="text" id="nombre" name="nombre" placeholder="Nombre *" required />
    <input type="text" id="apellido" name="apellido" placeholder="Apellido *" required />
    <input type="email" id="email" name="email" placeholder="Correo electrónico *" required />
    <input type="password" id="password" name="password" placeholder="Contraseña *" required />
    <input type="number" id="edad" name="edad" placeholder="Edad *" min="16" max="99" required />

    <select id="genero" name="genero" required>
      <option value="" disabled selected>Selecciona tu género *</option>
      <option value="Masculino">Masculino</option>
      <option value="Femenino">Femenino</option>
      <option value="Otro">Otro</option>
    </select>

    <select id="nombre_rol" name="nombre_rol" required>
      <option value="" disabled selected>Selecciona tu rol *</option>
      <option value="usuario">Usuario</option>
      <option value="administracion">Administración</option>
      <option value="mantenimiento">Mantenimiento</option>
    </select>

    <input type="submit" class="boton" value="Guardar Usuario" />
    <p id="mensaje"></p>
  </form>
</body>
</html>
