<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pantalla Principal del Usuario</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="background: #fff; margin: 0;">
    <div style="position: absolute; top: 100px; left: 50%; transform: translateX(-50%); 
                color: #000; font-size: 1.3em; text-align: center; width: 100%;">
        <h1 style="margin: 0; font-size: 1.5em;">¡Bienvenido a Campus Seguro!</h1>
        {% if usuario %}
            <p style="margin-top: 10px;">Hola, {{ usuario.nombre }} {{ usuario.apellido }}. Has iniciado sesión correctamente.</p>
        {% else %}
            <p style="margin-top: 10px;">Has iniciado sesión correctamente.</p>
        {% endif %}
    </div>
    <div style="position: absolute; left: 50%; top: 45%; transform: translate(-50%, 0);">
        <a href="{% url 'formulario_reporte' %}" style="display: inline-block; padding: 12px 32px; background: #4fc3f7; 
                color: #fff; border: 2px solid #4fc3f7; border-radius: 6px; font-size: 1.1em; text-decoration: none; text-align: center;">Nuevo reporte</a>
    </div>
    <div style="position: absolute; left: 50%; top: 80%; transform: translate(-50%, 0);">

        <a href="{% url 'logout' %}" 
   style="display: inline-block; padding: 12px 32px; background: #f44336; 
          color: #fff; border: none; border-radius: 6px; text-decoration: none;
          font-size: 1.1em; text-align: center;">
    Cerrar sesión
</a>


            
    </div>
</body>
</html>